.container{
    padding : 10px;
    max-width: 500;
    margin: 100px auto;
    background-color: #333;
    color:#333;
}
form{
    display : flex;
    flex-direction: column;
    gap: 10px;
}
form label{
    font-size: 25px;
    margin-bottom: 10px;
}
form input{
    padding : 8 px;
    border-radius: 10px;
    border : none;
    outline:none;
}
form select{
    padding: 8px;
}
    form button{
    padding:8px;
    background-color: #3498db;
    border-radius: 10px;
    margin-top: 10px;
    font-size : 25px;
    color: #fff;
}